*{
	margin:0;
	padding:0;
}

.flag{
	background-color:lightgray;
	height:500px;
	width:60%;
	margin:0 auto;
	position: absolute;
    top: 10%;
    left: 23%;
}

.flag .bash{
	background:black;
	height:400px;
	width:10px;
	margin:20px 0px 0px 50px;
    float: left;
    box-shadow: 5px 5px 5px grey;
}
.flag .kapor{
    background: green;
    width: 370px;
    height: 200px;
    overflow: hidden;
    margin-top: 20px;
    position:relative;
    box-shadow: 5px 5px 5px grey;
}
.kapor .red{
    background: red;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 18%;
    left: 33%;
    border-radius: 60px;
}
.flag h1{
	position: absolute;
    bottom: 25px;
    right: 25px;
    text-shadow: 5px 5px 5px grey;
}
.lal{
    color: red;
}
.shobuj{
    color: green;
}